*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,
body {
height: 100%;
width: 100%;
}

section{
    width: 100vw;
    height: 100vh;
    background-color: #111;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    position: relative;
}

.elem{
    
    height: 120px;
    border-bottom: 2px solid white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.elem h1{
    font-size: 5vw;
}
.elem img{
    opacity: 0;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    border-radius: 50%;
    mix-blend-mode: difference;
    z-index: 9;
    transition: all 0.3s linear;
    overflow: hidden;
    pointer-events: none;
}






